{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block content %}
<!-- page tittle -->
<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header text-center">About Yougurt App</h1>
    </div>
</div>
<!--  about app text -->
    <div class="info-box">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cupiditate deserunt distinctio dolore fuga
        fugiat hic impedit ipsum iure minus, modi optio pariatur placeat quae quasi quia, quis, repellendus
        sapiente?</p>
    <p>Cum, debitis dolore dolorem esse ipsa nam obcaecati officiis quaerat quo recusandae, rem saepe sunt! Cum dolor
        dolorum ducimus impedit ipsa laboriosam minus obcaecati optio, quo voluptate! Deserunt, illo, odio.</p>
    <p>A aut autem dicta dolorum eum expedita molestias non officia perspiciatis quam quibusdam, sed soluta tempore
        ullam unde. Assumenda, inventore iusto maiores nihil quia quos sint tempora unde ut voluptatibus.</p>
    <p>A ab amet expedita illum iure iusto, laboriosam magni minima numquam optio totam vero vitae. Culpa delectus
        doloremque doloribus eos fugit hic inventore officiis repellendus, voluptate. Debitis laboriosam quo
        tempore?</p>
</div>

{% endblock content %}

