
<!-- Modal -->
<div class="modal fade" id="yogurt_update{{ item.key.id() }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mymodallabel">Update Prodction</h4>
      </div>
      <div class="modal-body">
          <form action="/yogurt/production/{{ item.key.id() }}/update" method="post" class="form-horizontal">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <div class="form-group">
              <label for="production_date_update" class="control-label col-sm-4">Production date</label>
              <div class="col-sm-8">
                <input type="text" name="production_date" id="production_date_update" class="form-control"
                       value="{{ item.production_date.strftime('%m/%d/%Y') }}">
              </div>
            </div>
            <div class="form-group">
              <label for="milk_quantity" class="control-label col-sm-4">Milk Quantity</label>
              <div class="col-sm-8">
                <input type="text" name="milk_quantity" id="milk_quantity" class="form-control" value="{{ item.milk_quantity }}">
              </div>
            </div>
            <div class="form-group">
              <label for="cups" class="control-label col-sm-4">Cups</label>
              <div class="col-sm-8">
                <input type="text" name="cups" id="cups" class="form-control" value="{{ item.cups }}">
              </div>
            </div>
            <div class="form-group">
              <label for="empty" class="control-label col-sm-4">Used all</label>
              <div class="col-sm-8">
                  {% if item.empty %}
                    <input type="checkbox" name="empty" id="empty" class="form-control" value="{{ item.empty }}" checked>
                  {% else %}
                    <input type="checkbox" name="empty" id="empty" class="form-control" value="{{ item.empty }}" >
                  {% endif %}
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-4">
                <button class="btn btn-success">
                    Save
                </button>
              </div>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        {% include "includes/yogurt_delete.html"%}
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>